@charset "utf-8";
@import "fonts.css";

:root {
    --color-1: #fff;
    --color-2: #272727;

    --background-1: #40aaf6;

    --border-1: 1px solid rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    cursor: pointer;
    color: var(--background-1);
    font-size: 1.45rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.35rem;
    text-decoration: none;
    transition: 0.3s ease;
}

a>span {
    margin-right: 0.35rem;
}

a:hover {
    color: #6cc1fd;
}

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.auth-body {
    width: 28vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.auth-body form {
    width: 65%;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
}

.auth-body form h2 {
    font-size: 1.75rem;
    font-family: "Roboto Bold", sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.auth-body form .input-section {
    position: relative;
    margin-bottom: 1.5rem;
}

.auth-body form .input-section:nth-child(2) {
    margin-bottom: 1rem;
}

.auth-body .input-section span {
    font-weight: 300;
    color: var(--color-2);
    font-size: 1.75rem;
    position: absolute;
    top: 0.85rem;
    left: 0.65rem;
}

.auth-body .input-section input {
    color: var(--color-2);
    padding: 0.75rem;
    padding-right: 0;
    padding-left: 2.75rem;
    font-size: 1.35rem;
    font-family: "Roboto Light", sans-serif;
    border: var(--border-1);
    border-radius: 10px;
}

.auth-body form button {
    cursor: pointer;
    color: var(--color-1);
    font-size: 1.25rem;
    padding: 0.75rem;
    border: none;
    border-radius: 7px;
    background: var(--background-1);
}

.auth-logo {
    width: 72vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fff 50%, #bbe5ff);
}

.auth-logo img {
    width: 75%;
}