body {
    font-family: sans-serif;
    background-color: #f0f8ff; /* Мягкий голубой фон */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Нежная тень */
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #3498db; /* Голубой заголовок */
}

main {
    padding: 10px;
}

.section-stats {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Нежная тень */
}

/* Стиль для карточек */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.stat-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px; /* Закругленные углы */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Нежная тень */
    transition: transform 0.2s ease-in-out;
}

.stat-card:hover {
    transform: translateY(-5px); /* Легкий эффект подъема при наведении */
}

.stat-icon {
    font-size: 3em;
    margin-bottom: 15px;
    color: #3498db; /* Голубые иконки */
}

.stat-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #555;
}

.stat-card p {
    margin: 0;
    color: #c24eecea;
}
.chart-container{
  padding: 20px;
}

/* Адаптация */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
    .stats-grid {
        grid-template-columns: 1fr;
    }
}